<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dealership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="container">
    @using Dealership.Models;

    <div class="jumbotron">
      <h1>List of added cars</h1>
    </div>
    <div>
      @if (Model.Count == 0)
      {
        <p>No cars had been added to the list.</p>
      }
      <ul>
        @foreach (Car car in Model)
        {
          <li>@car.MakeModel</li>
            <ul>
              <li>$ @car.Price</li>
              <li>@car.Miles miles</li>
            </ul>
        }
      </ul>
      <a href="/cars/new">Add a new car.</a>
    </div>
    <br>
    <a href="/">Return Home</a>
  </body>
</html>