<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dealership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="container">
    @using Dealership.Models;
    
    <a href="/">Return Home</a>
  </body>
</html>


    @* //   Console.WriteLine("Enter maximum price: ");
    //   string stringMaxPrice = Console.ReadLine();
    //   int maxPrice = int.Parse(stringMaxPrice);

    //   List<Car> CarsMatchingSearch = new List<Car>(0);

    //   foreach (Car automobile in Cars)
    //   {
    //     if (automobile.WorthBuying(maxPrice))
    //     {
    //       CarsMatchingSearch.Add(automobile);
    //     }
    //   }

    //   foreach(Car automobile in CarsMatchingSearch)
    //   {
    //     Console.WriteLine("----------------------");
    //     Console.WriteLine(automobile.MakeModel);
    //     Console.WriteLine(automobile.Miles + " miles");
    //     Console.WriteLine("$" + automobile.Price);
    //   } *@