<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dealership</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="container">
    <div class="jumbotron">
      <h1>Welcome to the Patrick's Dealership</h1>
    </div>
    <div>
      <ul>
        <li><a href='/cars/new'>Add a new car</a></li>
        <li><a href='/cars'>See list of cars</a></li>
      </ul>
    </div>
    <form action="/cars/maxPrice" method="post">
      <div>
        <label for="maxPrice" class="form-label">Maximum Price:</label>
        <input id="maxPrice" name="maxPrice" type="number" class="form-control">
      </div>
      <br>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </body>
</html>